body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
  }

  .all {
    max-width: 500px;
    margin: 50px auto;
  }

  h1 {
    font-size: 42px;
    margin-bottom: 50px;
  }

  .level {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }

  .level1 {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    padding: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .level1:hover {
    background-color: #333;
    color: #fff;
    border-color: #fff;
    transform: scale(1.1);
  }

  a {
    text-decoration: none;
    color: inherit; 
  }
  